.loadingDots {
    color: hsl(0, 0%, 80%);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 8px;
    -webkit-transition: color 150ms;
    transition: color 150ms;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 4px;
    line-height: 1;
    margin-right: 4px;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
}

/*.loadingDots span {*/
/*color: hsl(0,0%,80%);*/
/*display: -webkit-box;*/
/*display: -webkit-flex;*/
/*display: -ms-flexbox;*/
/*display: flex;*/
/*-webkit-transition: color 150ms;*/
/*transition: color 150ms;*/
/*-webkit-align-self: center;*/
/*-ms-flex-item-align: center;*/
/*align-self: center;*/
/*font-size: 4px;*/
/*line-height: 1;*/
/*margin-right: 4px;*/
/*text-align: center;*/
/*vertical-align: middle;*/
/*box-sizing: border-box;*/
/*}*/
.loadingDots span:nth-child(1) {
    -webkit-animation: animation-threeDots 1s ease-in-out 0ms infinite;
    animation: animation-threeDots 1s ease-in-out 0ms infinite;
    background-color: currentColor;
    border-radius: 1em;
    display: inline-block;
    height: 1em;
    vertical-align: top;
    width: 1em;
}

.loadingDots span:nth-child(2) {
    -webkit-animation: animation-threeDots 1s ease-in-out 160ms infinite;
    animation: animation-threeDots 1s ease-in-out 160ms infinite;
    background-color: currentColor;
    border-radius: 1em;
    display: inline-block;
    margin-left: 1em;
    height: 1em;
    vertical-align: top;
    width: 1em;
}

.loadingDots span:nth-child(3) {
    -webkit-animation: animation-threeDots 1s ease-in-out 320ms infinite;
    animation: animation-threeDots 1s ease-in-out 320ms infinite;
    background-color: currentColor;
    border-radius: 1em;
    display: inline-block;
    margin-left: 1em;
    height: 1em;
    vertical-align: top;
    width: 1em;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes animation-threeDots {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}

/* Standard syntax */
@keyframes animation-threeDots {
    0%, 80%, 100% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
}
