/*Single SidePanel storage*/
@-webkit-keyframes storage-box-shadow-animation {
    0% {
        -webkit-box-shadow: 0 0 15px 0 #f15a5a69;
        box-shadow: 0 0 15px 0 #f15a5a69;
    }
    50% {
        -webkit-box-shadow: 0 0 5px 0 #f15a5a69;
        box-shadow: 0 0 5px 0 #f15a5a69;
    }
    100% {
        -webkit-box-shadow: 0 0 15px 0 #f15a5a69;
        box-shadow: 0 0 15px 0 #f15a5a69;
    }
}

@keyframes storage-box-shadow-animation {
    0% {
        -webkit-box-shadow: 0 0 15px 0 #f15a5a69;
        box-shadow: 0 0 15px 0 #f15a5a69;
    }
    50% {
        -webkit-box-shadow: 0 0 5px 0 #f15a5a69;
        box-shadow: 0 0 5px 0 #f15a5a69;
    }
    100% {
        -webkit-box-shadow: 0 0 15px 0 #f15a5a69;
        box-shadow: 0 0 15px 0 #f15a5a69;
    }
}

@-webkit-keyframes like-animation {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1.1);
    }
}
@keyframes like-animation {
    0% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1.1);
    }
}



.shake {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake-animation 0.9s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}


.shake:hover {
    animation:unset;
}

.shakeHover:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake-animation 0.9s;

    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}


.shakeHover {
    animation:unset ;
}

@keyframes shake-animation {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
