@import url(fontiran.css);
@import url(Animation.css);
@import url(AxoisProgressBar.css);
@import url(BaseSite.css);
@import url(mt-icon.css);

html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    /*padding-right: 0 !important;*/
    background: #5f5f5f;
}

*:not(.fa):not(.fas):not(.fad):not(.mt) {
    font-family: IRANSansX, serif !important;
    -moz-font-feature-settings: "ss02";
    -webkit-font-feature-settings: "ss02";
    font-feature-settings: "ss02";
}

.enNum, .enNum * {
    -moz-font-feature-settings: "ss01" !important;
    -webkit-font-feature-settings: "ss01" !important;
    font-feature-settings: "ss01" !important;
}


*[en*="true"], *[en*="true"] * {
    direction: ltr;
    font-family: sans-serif !important;
}

.fal, .fab, .fad, .far, .fas {
    display: flex !important;
    align-items: center;
    justify-content: center;
    width: 1.3em !important;
    height: 1.3em !important;
    font-family: 'Font Awesome 5 Pro', serif !important;
}

.fal {
    font-family: 'Font Awesome 5 Pro', serif !important;
}

.fab {
    font-family: 'Font Awesome 5 Brands', serif !important;
}

.fad {
    font-family: 'Font Awesome 5 Duotone', serif !important;
}

.far {
    font-family: 'Font Awesome 5 Pro', serif !important;
}

.fas {
    font-family: 'Font Awesome 5 Pro', serif !important;
}


.fullWidthDialog > div > .MuiDialog-paper {
    max-width: 98%;
    margin: 0;
    max-height: 97%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

a, a * {
    cursor: pointer;
    text-decoration: none !important;
}

body[dark-mode] *:disabled {
    color: #5f5f5f !important;
}

.MuiSkeleton-text {
    margin-top: 0 !important;
}

.MuiSkeleton-text:before {
    content: '' !important;
}

.MuiIconButton-root.Mui-disabled {
    background-color: unset !important;
}

/**, *:hover {*/
/*-webkit-transition: all 200ms ease;*/
/*-moz-transition: all 200ms ease;*/
/*-ms-transition: all 200ms ease;*/
/*-o-transition: all 200ms ease;*/
/*transition: all 200ms ease;*/
/*}*/

a:hover, a:hover * {
    text-decoration: none !important;
    opacity: 0.85;
}

a[no_hover*="true"]:hover, a[no_hover*="true"]:hover * {
    opacity: 1;
}

a.disable, a[disabled] {
    color: #b8b8b8;
    cursor: default;
    pointer-events: none;
}

a.disable:hover, a[disabled] {
    text-decoration: none;
}

.rtl [class*="MuiSnackbarContent-action"] {
    margin-right: auto;
    margin-left: 0;
    padding-left: 0;
    padding-right: 8px;
}

[class*="MuiSnackbarContent-message"] {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

.rtl [class*="MuiSnackbarContent-message"] svg {
    margin-right: 0 !important;
    margin-left: 8px !important;
}

.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: none !important;
    /*background-color: rgba(0, 0, 0, 0.12) !important;*/
}

.MuiInput-underline-1157:hover:not(.Mui-disabled):before {
    border-bottom: unset !important;
}

.hide {
    display: none !important;
}

div {
    outline: none;
}

.transition500 {
    -webkit-transition: all 500ms ease !important;
    -moz-transition: all 500ms ease !important;
    -ms-transition: all 500ms ease !important;
    -o-transition: all 500ms ease !important;
    transition: all 500ms ease !important;
}

.transition500Hover:hover {
    -webkit-transition: all 500ms ease !important;
    -moz-transition: all 500ms ease !important;
    -ms-transition: all 500ms ease !important;
    -o-transition: all 500ms ease !important;
    transition: all 500ms ease !important;
}

.makeStyles-searchIcon-10 {
    top: 0;
}

.positionSticky {
    position: sticky;
    position: -webkit-sticky;
}

.removeScroll {
    -ms-overflow-style: none;
}

.removeScroll::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
    display: none;
}


.timePicker > div > div > div:first-child > div:first-child {
    flex-direction: row !important;
}

.timePicker > div > div > div:first-child > div:last-child {
    margin-right: -20px;
    margin-left: 20px;
}

.rdw-colorpicker-modal, .rdw-link-modal, .rdw-embedded-modal, .rdw-emoji-modal, .rdw-image-modal {
    position: absolute !important;
    right: auto !important;
    left: auto !important;
}


::-webkit-scrollbar {
    /*width: 0px; !* Remove scrollbar space *!*/
    /*background: transparent; !* Optional: just make scrollbar invisible *!*/
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    /*background: #FF0000;*/
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}



