@import "PlaceHolder.css";
@import "leaflet.css";

body {
    /*background-color: #000;*/
}

strong,.editorRoot span[style*="font-weight: bold"]{
    font-weight: 500 !important;
}
em,.editorRoot span[style*="font-style: italic"]{
    font-weight: 700 !important;
    font-style: normal !important;
}


.leaflet-marker-icon[src*='car-marker-icon'] {
    width: 65px;
    height: 41.5px;
    margin-top: -32.5px;
    margin-left: -41.5px;
}

.rtl .MuiInputLabel-formControl {
    transform-origin: top right !important;
    right: 0;
    left: auto;
}

.makeStyles-searchIcon-8 {
    top: 0;
}

.rdw-dropdown-carettoopen {
    left: 10% !important;
    right: unset !important;
}

div[input-dir=ltr] > div > input, input[input-dir=ltr] {
    direction: ltr;
}

div[input-dir=rtl] > div > input, input[input-dir=rtl] {
    direction: rtl;
}

.displayNone{
    display: none !important;
}


.editorItalicIcon{

}
.editorStrongIcon>img{
    transform: scale(0.85);
}
