﻿
@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 100;
    src: url('../fonts/woff/thin.woff') format('woff'),
    url('../fonts/woff2/thin.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/woff/ultraLight.woff') format('woff'),
    url('../fonts/woff2/ultraLight.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/woff/light.woff') format('woff'),
    url('../fonts/woff2/light.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/woff/medium.woff') format('woff'),
    url('../fonts/woff2/medium.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/woff/demiBold.woff') format('woff'),
    url('../fonts/woff2/demiBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/woff/extraBold.woff') format('woff'),
    url('../fonts/woff2/extraBold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/woff/black.woff') format('woff'),
    url('../fonts/woff2/black.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/woff/bold.woff') format('woff'),
    url('../fonts/woff2/bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/woff/regular.woff') format('woff'),
    url('../fonts/woff2/regular.woff2') format('woff2');
}


