@font-face {
    font-family: 'mt';
    src: url('../drawable/fonts/mticon/mt.eot?aoiyfw');
    src: url('../drawable/fonts/mticon/mt.eot?aoiyfw#iefix') format('embedded-opentype'),
    url('../drawable/fonts/mticon/mt.ttf?aoiyfw') format('truetype'),
    url('../drawable/fonts/mticon/mt.woff?aoiyfw') format('woff'),
    url('../drawable/fonts/mticon/mt.svg?aoiyfw#mt') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.mt {
    /* use !important to prevent issues with browser extensions that change mticon */
    font-family: 'mt' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mt-badge-check:before {
    content: "\e949";
}
.mt-check-circle:before {
    content: "\e94a";
}
.mt-instagram-filled:before {
    content: "\e94b";
}
.mt-logo:before {
    content: "\e94c";
}
.mt-other:before {
    content: "\e94d";
}
.mt-paper:before {
    content: "\e94e";
}
.mt-plus-bold:before {
    content: "\e94f";
}
.mt-plus-thin:before {
    content: "\e950";
}
.mt-question:before {
    content: "\e951";
}
.mt-reply:before {
    content: "\e952";
}
.mt-support:before {
    content: "\e953";
}
.mt-timer:before {
    content: "\e954";
}
.mt-filter-on .path1:before {
    content: "\e947";
    color: rgb(64, 64, 64);
}
.mt-filter-on .path2:before {
    content: "\e948";
    margin-left: -1em;
    color: rgb(235, 91, 119);
}
.mt-cart-fiiled:before {
    content: "\e935";
}
.mt-cart-thic:before {
    content: "\e936";
}
.mt-category:before {
    content: "\e937";
}
.mt-category-fiiled:before {
    content: "\e938";
}
.mt-check:before {
    content: "\e939";
}
.mt-check-thin:before {
    content: "\e93a";
}
.mt-close-thin:before {
    content: "\e93b";
}
.mt-copy:before {
    content: "\e93c";
}
.mt-filter:before {
    content: "\e93d";
}
.mt-home:before {
    content: "\e93e";
}
.mt-home-filled:before {
    content: "\e93f";
}
.mt-map-marker:before {
    content: "\e940";
}
.mt-map-marker-alt:before {
    content: "\e941";
}
.mt-plus:before {
    content: "\e942";
}
.mt-shield-check:before {
    content: "\e943";
}
.mt-sort:before {
    content: "\e944";
}
.mt-user-filled:before {
    content: "\e945";
}
.mt-whatsapp:before {
    content: "\e946";
}
.mt-add-to-favorite:before {
    content: "\e900";
}
.mt-arrow-down:before {
    content: "\e901";
}
.mt-arrow-left:before {
    content: "\e902";
}
.mt-arrow-right:before {
    content: "\e903";
}
.mt-arrow-up:before {
    content: "\e904";
}
.mt-bell:before {
    content: "\e905";
}
.mt-box:before {
    content: "\e906";
}
.mt-calendar:before {
    content: "\e907";
}
.mt-cart:before {
    content: "\e908";
}
.mt-chevron-down:before {
    content: "\e909";
}
.mt-chevron-left:before {
    content: "\e90a";
}
.mt-chevron-right:before {
    content: "\e90b";
}
.mt-chevron-up:before {
    content: "\e90c";
}
.mt-clock:before {
    content: "\e90d";
}
.mt-close:before {
    content: "\e90e";
}
.mt-cloud-download:before {
    content: "\e90f";
}
.mt-coins:before {
    content: "\e910";
}
.mt-comment-alt-check:before {
    content: "\e911";
}
.mt-comment-alt-plus:before {
    content: "\e912";
}
.mt-comment-alt-times:before {
    content: "\e913";
}
.mt-delete:before {
    content: "\e914";
}
.mt-download:before {
    content: "\e915";
}
.mt-exclamation-circle:before {
    content: "\e916";
}
.mt-eye:before {
    content: "\e917";
}
.mt-eye-slash:before {
    content: "\e918";
}
.mt-gift-card:before {
    content: "\e919";
}
.mt-hamburger-menu:before {
    content: "\e91a";
}
.mt-heart:before {
    content: "\e91b";
}
.mt-heart-filled:before {
    content: "\e91c";
}
.mt-history:before {
    content: "\e91d";
}
.mt-instagram:before {
    content: "\e91e";
}
.mt-location:before {
    content: "\e91f";
}
.mt-location-pin:before {
    content: "\e920";
}
.mt-mail:before {
    content: "\e921";
}
.mt-map-marker-plus:before {
    content: "\e922";
}
.mt-pen:before {
    content: "\e923";
}
.mt-phone:before {
    content: "\e924";
}
.mt-phone-plus:before {
    content: "\e925";
}
.mt-print:before {
    content: "\e926";
}
.mt-qrcode:before {
    content: "\e927";
}
.mt-search:before {
    content: "\e928";
}
.mt-share:before {
    content: "\e929";
}
.mt-shipping:before {
    content: "\e92a";
}
.mt-shopping-bag:before {
    content: "\e92b";
}
.mt-star-filled:before {
    content: "\e92c";
}
.mt-star-outlined:before {
    content: "\e92d";
}
.mt-telegram:before {
    content: "\e92e";
}
.mt-thums-down:before {
    content: "\e92f";
}
.mt-thums-up:before {
    content: "\e930";
}
.mt-ticket:before {
    content: "\e931";
}
.mt-times-circle:before {
    content: "\e932";
}
.mt-twitter:before {
    content: "\e933";
}
.mt-user:before {
    content: "\e934";
}
