/*@font-face {*/
/*font-family: IranSansWeb;*/
/*font-style: normal;*/
/*font-weight: bold;*/
/*src: url(fonts/IRANSansWeb_Bold.ttf);  !* All Major Browsers *!*/
/*}*/

/*@font-face {*/
/*font-family: IranSansWeb;*/
/*font-style: normal;*/
/*font-weight: 500;*/
/*src: url('fonts/IRANSansWeb_Medium.ttf');  !* All Major Browsers *!*/
/*}*/

/*@font-face {*/
/*font-family: IranSansWeb;*/
/*font-style: normal;*/
/*font-weight: 300;*/
/*src: url('fonts/IRANSansWeb_Light.ttf');  !* All Major Browsers *!*/
/*}*/

/*@font-face {*/
/*font-family: IranSansWeb;*/
/*font-style: normal;*/
/*font-weight: 200;*/
/*src: url('fonts/IRANSansWeb_UltraLight.ttf');  !* All Major Browsers *!*/
/*}*/

/*@font-face {*/
/*font-family: IranSansWeb;*/
/*font-style: normal;*/
/*font-weight: normal;*/
/*src: url(fonts/IRANSansWeb.ttf);  !* All Major Browsers *!*/
/*}*/

/** {*/
/*font-family: IranSansWeb, sans-serif !important;*/
/*}*/

/*@font-face {*/
/*font-family: Samim;*/
/*src: url(fonts/Samim.woff2);*/
/*}*/


/** {*/
/*font-family: Samim, sans-serif !important;*/
/*}*/

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.InputDigitNumber-input {
    margin: 3px;
    padding: 0;
    text-align: center;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgba(0, 0, 0, .2);
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
    font-size: 25px;
    width: 30px;
    outline: none;
}

html[dir=rtl] .MuiSnackbarContent-root svg {
    margin-right: 0 !important;
    margin-left: 8px !important;
}

html[dir=rtl] .MuiSnackbarContent-root .MuiSnackbarContent-action {
    margin: 0 auto 0 0 !important;
    padding: 0 8px 0 0 !important;
}

/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
